/* Un poco de CSS puro porque se complicó una bocha con el scroll
  la persistencia del tomate3D y las posiciones de cada div */

.homepage-container {
  position: fixed;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE y Edge */
  transition: opacity 0.5s ease;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.homepage-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.homepage-container.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}


@keyframes streakPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px var(--glow-color, 0);
  }

  /* Flotado sin “ancla” brusco */
  55% {
    transform: scale(1.12);
    box-shadow: 0 0 38px var(--glow-color, 1);
  }


  /* Cierre suave */
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 var(--glow-color, 0);
  }
}

.animate-streak-pulse {
  animation: streakPulse 7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
